body{
	margin:0;
	padding:0;
	font-size:13px;
	background: url(back.jpg) no-repeat center center fixed; 
  	background-size: cover;
	}
img{margin:20px; padding:0; border:none;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}

a{outline:none; text-decoration:none; color:#55ABDA; background-color:#F9F9F9;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #DEDACB; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

div.wrapper{
	position:relative;
	margin:0 auto 20px;
	width:960px;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	}

.row1{color:#999999; background-color:#06213F;}
.row1 a{color:#FCFCFC; background-color:#06213F;}
.row2, .row3, .row4{color:#979797; background-color:#F9F9F9;}


#header, #container, #footer{
	display:block;
	width:960px;
	}

.rnd{
	display:block;
	width:960px;
	padding:12px 0 0 0;
	background:url("../images/round_top.gif") top left no-repeat;
	}

#header{padding:25px 0 0 0;}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:36px; font-variant:small-caps; font-style:normal;}

#header .fl_right{
	display:block;
	width:100px;
	}

#header .fl_right ul{
	margin-bottom:10px;
	font-size:14px;
	}

#header .fl_right li{
	display:inline;
	margin:0 4px 0 0;
	padding:0 6px 0 0;
	border-right:1px solid #FCFCFC;
	}

#header .fl_right li.last{
	margin:0;
	padding:0;
	border:none;
	}

#container{
	width:920px;
	padding:20px;
	line-height:1.6em;
	background:url("../images/round_bot.gif") bottom left no-repeat;
	}

#container a{
	color:#55ABDA;
	background-color:#F9F9F9;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	padding-bottom:8px;
	border-bottom:1px solid #DEDACB;
	}

#container .readmore{
	display:block;
	width:100%;
	text-align:right;
	line-height:normal;
	}

#content{
	display:block;
	float:left;
	width:600px;
	}

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:30px;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	text-transform:none;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}